\#*
*~
.~*
*.png
*.pdf
*.stl
*.cnc
*.gcode
*.swp
*.FCStd1
*.FCStd.*
*.bmp
*.avif
*.dxf
~*.lck
*.zip
DCDC/dcdc3-backups/
DCDC/_autosave-dcdc3.kicad_sch
DCDC/_autosave*
*.dae
*.mtl
*.obj
*.step
*.FCBak
BMS/gerber/
DCDC/svg/
